# PHPStorm and other IDE-specific files
.idea/

# Composer dependencies
/vendor/

# Environment variables file
.env

# Node modules (if using npm/yarn)
node_modules/

# Temporary files
*.tmp
*.temp
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Output files
output.json